*{
    margin: 0;
    padding: 0;
    }
    body {
    height: 100%;
    width: 100%;
    }
    header{
    width: 100%;
    height: 20px;
    /* position: fixed; */
    /* margin-top: 0; */
    }
    header .tb{
    /* width: 100%; */
    position: fixed;
    background: #29392e;
    height: 40px;
    width: 210px;
    display: block;
    top:0px;
    left: 40px;
    float: left;
    z-index: 499;
    }
    header .tb img{
    padding-top: 3.5px;
    padding-left: 5px;
    }
    .headerTop{
    width: 100%;
    height: 40px;
    background: #ffffff;
    position: fixed;
    top: 0px;
    left: 40px;
    z-index: 400;
    }
    header a{
    margin: 0 18px;
    height: 40px;
    width: 80px;
    text-align: center;
    line-height: 40px;
    color: #505050;
    cursor: pointer;
    padding-top: 5px;
    text-decoration: none;
    }
    header .my {
    float: left;
    margin-left: 260px;
    }
    header .my .wjdzy{
    color: #49c0e0;
    }
    header .right .zxtw{
    background: #49c0e0;
    color: white;
    line-height: 40px;
    }
    header .right{
    float: right;
    margin-right: 40px;
    }
    .bj{
    width: 100%;
    height: 45px;
    background:#58b2d7;
    margin:20px 0px 0px 0px;
    }
    .htTop{
    width: 100%;
    height: 30px;
    background-color: #d8d8de;
    box-sizing: border-box;
    position: fixed;
    }
    .ht{
    width: 100%;
    background-color: #d8d8de;
    margin: 0 auto;
    color:#505050;
    /* overflow: hidden; */
    }
    .ht span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-left: 40px;
    font-size: 14px;
    /* float: left; */
    }
    .ht .return{
    line-height: 30px;
    margin-right: 80px;
    float: right;
    cursor: pointer;
    }
    .main{
        overflow:hidden;
    }
    .mleft-xlk span{
        color:white;
        margin-left:8px;
        line-height:60px;
        font-size:20px;
    }
    .main-left{
        float:left;
    }
    .mleft-xlk{
        background: #49c0e0;
        margin-left:0px;
        width:215px;
        height:60px;
    }
    .mleft-dk{
        margin-left:40px;
        margin-top:0px;
        background: #cccccc;
        width:215px;
        height:1000px;
    }
    .main-right{
        width:1500px;
        height:1000px;
        background:lightgray;
        margin-left:0px;
        margin-top:0px;
        float:right;
    }
    .pelette{
        overflow:hidden;
        background: #ffffff;
    }
    .pelette-l{
        float:left;
        margin-left:0px;
        height:40px;
        width:70%;
        /* background: lightskyblue; */
    }
    .pelette-r{
        float:right;
    }
    .pelette-l span{
        color:#808080;
        font-size:16px;
    }

    .pelette-l span:hover{
        color:skyblue;
    }
.pel-span{
    height:40px;
    /* font-size:20px; */
    width:160px;
    /* background: lightsteelblue; */
    line-height: 40px;
    /* padding-left:18px; */
    float:left;
}
.pel-span span{
    margin-left:70px;
}
.pelette-r button{
    height:36px;
    width:100px;
    margin-top:2px;
    margin-right:30px;
    background:skyblue;
    border:none;
    color:#808080;
    text-align: center;
    line-height:36px;
}
.add{
    margin-left: 16px;
    margin-top: 80px;
    overflow: hidden;
}
.add-l{
    float: left;
}
.add-l text{
    color:#808080;
    font-size:24px;
}
.add-r{
    float: right;
}
.add-r button{
    height:30px;
    text-align: center;
    line-height:30px;
    border:none;
    color:#808080;
    background:skyblue;
    margin-right:45px;
}
.mwhite{
    background: #ffffff;
    margin-left: 32px;
    margin-top: 26px;
    /* height:600px; */
    overflow: hidden;
}
.mwhite-l{
  float: left;
}
.mwhite-r{
  float: right;
  margin-right:20px;;
}
.parse{
    margin-left:180px;
    margin-top: 60px;
    width:100px;
    height:22px;
}
.par-span text{
    color:rgb(96, 189, 250);
    text-align:center;
    line-height:22px;
}
.par-span{
    border:1px solid black;
}
.box{
    margin-left:180px;
    margin-top: 0px;
    border:1px solid black;
    width:1000px;
    height:600px;
    background: #cccccc;
}