* {
    margin: 0;
    padding: 0;
}
.bar {
    width: 210px;
    height: 40px;
    position: fixed;
    top: 0px;
    left: 40px;
    background: #4abfe0;
    z-index: 499;
}
.bar .logo {
    height: 38px;
    padding: 6px 0px 0px 4px;
}
.header {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 400;
}
.header .tool {
    float: left;
    width: 700px;
    height: 40px;
    margin-left: 337px;
    overflow: hidden;
}
.header .tool ul li {
    float: left;
    width: 60px;
    height: 40px;
    margin: 0 18px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    list-style: none;
}
.header .tool ul li a{
    font: 14px "微软雅黑";
    color: #505050;
    text-decoration: none;
}
.header .user {
    float: right;
    width: 300px;
    height: 40px;
    margin-right: -10px;
    overflow: hidden;
}
.header .user #fl {
    float: left;
}
.header .user .uname {
    width: 70px;
    height: 38px;
    text-align: center;
    padding-top:10px; 
    font: 14px "微软雅黑";
    color: #A3A3A4;
}
.header .user .ask {
    width: 104px;
    height: 40px;
    text-align: center;
    padding-top:10px; 
    background: #49c0e0;
    font: 14px "微软雅黑";
    color: #fff;
}
.header .user .ling {
    width: 16px;
    height: 40px;
    text-align: center;
    margin: -1px 5px 0px 0px;
    padding-top:10px; 
    font: 14px "微软雅黑";
    color: #A3A3A4;
}
.header .user .logout {
    width: 60px;
    height: 40px;
    text-align: center;
    padding-top:10px; 
    font: 14px "微软雅黑";
    color: #A3A3A4;
}

.search {
    width: 100%;
    height: 80px;
    font-size: 24px;
    text-align: center;
    line-height: 80px;
    background: #1890ff;
    color: #fff;
    margin-top: 40px;
}
.main {
    width: 100%;
    height: 650px;
    background: #FFFFFF;
}
/* 个人中心的3个tab标签 */
.main ul {
    width: 100%;
    height: 38px;
    background: #d8d8dad5;
    overflow: hidden;
}
.main ul li {
    width: 27%;
    float: left;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    list-style: none;
}
.main ul .one {
    margin-left: 9%;
}
.main ul li a {
    text-decoration: none;
    color: #A3A3A4;
}
.main ul li:hover {
    background: #fff;
}
/* 基本资料的标题和表格 */
.main .center p {
    width: 90%;
    height: 32px;
    background: #20bd54;
    margin: 10px auto;
    line-height: 32px;
    border-left: 2px solid #4abfe0;
}






.footer {
    width: 100%;
    height: 126px;
    background: url(../images/ditu.jpg);
    padding-top: 30px;
    bottom: 0;
    margin-top: 30px;
    box-sizing: border-box;
}
.footer .bbox {
    width: 600px;
    margin: 0 auto;

}
.footer .bbox .b1 {
    width: 600px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #afb0b2;
    margin:0px 0px 8px 0px;
    font: 16px "微软雅黑";

}
.footer .bbox .b1 img {
    width: 200px;
    height: 30px;
    vertical-align: middle;
}
.footer .bbox .b1 .line {
    color: #6c7177;
    font-weight: 100;
    margin-left: 10px;
}
.footer .bbox .b2 {
    width: 100%;
    height: 25px;
}
.footer .bbox .b2 .bb1,.bb2,.bb3 {
    font: 14px "微软雅黑";
    color: #afb0b2;
    text-decoration: none;
}
.footer .bbox .b2 .bb1 {
    margin-left: 158px; 
}
.footer .bbox .b2 .bb2,.bb3 {
    margin-left: 60px; 
}
.footer .bbox .b3 {
    width: 600px;
    height: 30px;
    color: #6f7376;
    font: 12px "微软雅黑";
    text-align: center;
    line-height: 30px;
}